.head {
  overflow: hidden;
  box-sizing: border-box;
}
.head img {
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.head img:hover {
  transform: scale(1.01);
  overflow: hidden;
}
.imagetop {
  text-align: center;
  padding-top: 20px;
}

.imagemiddle {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 50px;
}

.imagebottom {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
  padding-top: 35px;
  padding-bottom: 50px;
}

.text {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.card {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: large;
  text-align: center;
}

.belowbottom {
  display: flex;
  justify-content: center;
  gap: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.video {
  text-align: center;
}

.mobile {
  display: none;
}

.laptop {
  padding-left: 20px;
  display: block;
}

.middlemobile {
  display: none;
}

.mobile2 {
  display: none;
}

.newmobile {
  display: none;
}

.laptop2 {
  padding-left: 30px;
}
@media (max-width: 321px) {
  .mobile {
    padding-left: 15px;
    display: block;
  }

  .laptop2 {
    display: none;
  }

  .newmobile {
    display: block;
    padding-top: 10px;
  }
  .middlemobile {
    display: block;
  }
  .laptop {
    display: none;
  }

  .mobile2 {
    display: none;
  }
  .text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    font-weight: lighter;
  }

  .imagetop {
    text-align: center;
    padding-top: 30px;
  }

  .imagemiddle {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .imagebottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 50px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: small;
    text-align: center;
  }
  .belowbottom {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
  }
}
