.head {
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
}
.head img {
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.head img:hover {
  z-index: 0;
  transform: scale(1.02);
  /* overflow: hidden; */
}
.imagetop {
  text-align: center;
  padding-top: 20px;
}

.imagemiddle {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 50px;
}

.text {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.card {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: large;
  text-align: center;
}

.belowbottom {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.video {
  padding-top: 20px;
  text-align: center;
}

.mobile {
  display: none;
}

.laptop {
  padding-left: 0px;
  display: block;
}

.middlemobile {
  display: none;
}

.mobile2 {
  display: none;
}

.newmobile {
  display: none;
}

.laptop2 {
  padding-left: 0px;
}

.imagebottom {
  display: flex;
  gap: 20px;

  padding-top: 35px;
  padding-bottom: 50px;
  width: 1100px;
  height: auto;
  overflow-x: scroll; /* Enable horizontal scrolling */
  scroll-behavior: smooth;
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
}

.card div h4 {
  font-size: large;
  font-weight: 350;
  text-align: left;
}

.card div p {
  padding-top: 5px;
  font-size: medium;
  font-weight: lighter;
  text-align: left;
}
.imagebottom::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  width: 1100px;
  height: auto;
  overflow-x: scroll;
  flex-basis: 400px;
  gap: 20px;
  justify-content: flex-start;
}

.card::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .head {
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    justify-content: center;
    display: block;
    width: auto;
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    width: 90%;
    padding-left: 30px;
  }

  .mobile {
    padding-left: 0px;
    display: block;
  }

  .laptop2 {
    display: none;
  }

  .newmobile {
    display: block;
    padding-top: 10px;
    padding-left: 0px;
  }
  .middlemobile {
    display: block;
  }
  .laptop {
    display: none;
  }

  .mobile2 {
    display: none;
  }
  .text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    font-weight: lighter;
  }

  .imagetop {
    text-align: center;
    padding-top: 20px;
  }

  .imagemiddle {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .imagebottom {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: right;
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 800px;
    width: 1100px;
    height: auto;
    overflow-x: scroll;
  }

  .imagebottom::-webkit-scrollbar {
    display: none;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: small;
    text-align: center;
    padding-left: 800px;
    flex-basis: 250px;
    justify-content: flex-start;
  }
  .belowbottom {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
  }
}
