.dropdown {
  position: relative;
  display: inline-block;
}

.content {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #f9f9f9;
  min-width: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.content a {
  color: black;
  padding-top: 15px;
  padding-left: 20px;

  text-decoration: none;
  display: block;
}

.content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .content {
  display: block;
  width: 200px;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.red {
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 0.2fr;
  height: 70px;
  color: black;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.179);
  position: sticky;
  top: 0;
}

.btn2 {
  visibility: hidden;
  background-color: white;
  border: 0;
  display: none;
}

.nav {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0);
}

.btn {
  background-color: #fff;
  height: 40px;
  border: 0px;
}

.list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 400;
  font-size: medium;
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 20px;
}

.kross2 {
  width: 150px;
  padding-top: 28px;
  padding-left: 10px;
  font-weight: bold;
  font-size: x-large;
}

.kross {
  font-size: x-large;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-left: 15px;
}

.icons {
  height: 80px;
  width: 20px;
  padding: 1px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.mainfooter {
  display: block;
  padding-top: 25px;
  display: flex;
  width: 90%;
  padding-left: 50px;
}

.footer {
  height: 500px;
  background-color: #eee;
  width: 100%;
  margin: 0 auto;
  align-content: center;
  position: relative;
  bottom: 20px;
  /* left: 70px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  text-align: center;
  text-wrap: wrap;
  padding-top: 30px;
}

.footinfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 500;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 100px;
}

.subhead {
  font-size: large;
  font-weight: bold;
}

.footsubscribe {
  font-size: medium;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 260px;
}

.custome {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 200px;

  padding-left: 50px;
}

@media (max-width: 321px) {
  .red {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    height: 50px;
    color: black;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.179);
    position: sticky;
    top: 0;
  }

  .nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0);
  }

  .btn {
    background-color: #fff;
    height: 0px;
    border: 0px;
  }

  .list {
    display: none;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: medium;
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 20px;
    height: 40px;
    width: 150%;
    visibility: hidden;
  }

  .kross {
    font-size: medium;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    height: 10px;
  }

  .icons {
    height: 80px;
    width: 20px;
    padding: 3px;
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .mainfooter {
    display: block;
    padding-top: 25px;
    padding-left: 10px;
  }

  .footer {
    height: 400px;
    background-color: #eee;
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
    align-content: center;
    position: relative;
    bottom: 20px;
    /* left: 70px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    text-align: left;
    text-wrap: wrap;
  }

  .footinfo {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 100;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .subhead {
    font-size: small;
    font-weight: bold;
  }

  .footsubscribe {
    font-size: small;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 18px;
  }

  .custome {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;

    flex-direction: column;
    font-size: small;
    font-weight: 100;
    gap: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .kross {
    color: black;
    background-color: white;
    height: 1000px;
    width: 700px;
    padding-top: 20px;
    font-weight: bolder;
    font-size: x-large;
  }

  .kross2 {
    font-size: x-large;
    width: 200px;
    padding-top: 22px;
    padding-left: 20px;
  }

  .newlist {
    position: absolute;
    color: black;
    display: inline-flex;
    flex-direction: column;
    font-weight: 400;
    font-size: large;
    list-style-type: circle;
    text-decoration: none;
    width: 200px;
    height: 300px;
    padding-bottom: 20px;
    top: 60px;
    left: 60px;
    justify-content: space-between;
    list-style: none;
  }

  .bar {
    color: black;
    z-index: 2;
    width: 30px;
    height: 25px;
  }

  .btn2 {
    visibility: visible;
    display: block;
    background-color: white;
    border: 0;
    height: 10px;
    padding-top: 18px;
  }

  .mainbtn {
    background-color: white;
    color: black;
    border: 0;
    padding-top: 20px;
    width: 40px;
    height: 900px;
    size: 10px;
  }
  .nobar {
    height: 20px;
    width: 20px;
    color: black;
    padding-bottom: 1100px;
    padding-right: 5px;
  }
  .icons {
    height: 80px;
    width: 20px;
    padding: 3px;
    padding-left: 15px;
    padding-bottom: 15px;
    visibility: hidden;
  }

  .dropdown:hover .content {
    display: none;
    visibility: hidden;
  }
}
